*{
  box-sizing: border-box;
}

html{
  font-family:"Noto Sans JP",serif;
  font-weight:400;
  font-size: 16px;
  color: #222;
  background-color: rgb(235, 0, 0);
}

a {
  text-decoration: none;
  color: rgb(36, 74, 226);
}
a:hover{
  color: rgb(226, 22, 199);
}

ul,li {
  list-style: none;
  margin-left: 0;
}

img{
  height: 100%;
  width: auto;

}

:root{
  --hdr_height:100px;
}

.hdr{
  background-color: rgba(37, 145, 145, 0.561);
  width: 100%;
  height: var(--hdr_height);
  position:fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding-inline: 10px;
}

  .hdr-main{
    box-sizing: border-box;
    background-color: rgba(204, 157, 37, 0.542);
    display: block;
    height: inherit;
  }
    .hdr-main-wrapper{
      display: flex;
      justify-content:space-between;
      align-items: center;
      height: inherit;
    }

      .hdr-logo .hdr-logo_link{
        display: flex;
        max-width: 30%;
        max-height: 100px;
      }
        .hdr_logo_img/*img*/{
          max-height: 80px;
        }



  .hdr-nav-wrapper {
    justify-content:space-between;
    align-items: center;
    height: inherit;
    width: 50%;
  }
    .hdr-menu-sp {

    }

    .hdr-menu-pc {

    }
      .hdr-menu-list-pc {

      }
        .hdr-menu-item-pc {
        }
        .hdr-menu-button {

        }






  




  .hdr-sub {
    background-color: rgba(250, 235, 215, 0.617);
    position: absolute;
    top:var(--hdr_height);
    left: 0;
    width: 100%;
    visibility: visible;/*visible 見える hidden 見えない*/
  }
  .hdr-sub1 {}
  .hdr-sub1-contents {}
  .hdr-sub1-link {}
  .hdr-sub1-menu {}
  .hdr-sub1-nav {}
  .hdr-sub1-titel {}
  .hdr-sub2 {}
  .hdr-sub2-contents {}
  .hdr-sub2-link {}
  .hdr-sub2-menu {}
  .hdr-sub2-nav {}
  .hdr-sub2-titel {}
